*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    background: #020A18;
    font-family: "Open Sans", sans-serif;
}

.center{
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.top{
    padding-bottom: 99px;
}

.header{
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.header__link{
    font-style: normal;
    font-weight: 600;
    font-style: 16px;
    line-height: 22px;
    color: #FFF;
}

.top__content{
    margin-top: 160px;
    margin-bottom: 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.top__info{
    width: 604px;
}

.top__buttons{
    margin-top: 50px;
    display: flex;
    gap: 20px
}

.top__logo{
    display: flex;
    gap: 85px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 380px;
}

.subtitle{
    margin-bottom: 10px;
    color: rgb(58, 104, 184);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    
}

.title{
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}

.text{
    width: 558px;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
}

.button{
    padding: 15px 30px;
    border-radius: 5px;
    background: rgb(58, 104, 184);
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    display: flex;
    gap: 10px
}

.content{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    justify-content: center;
    padding-top: 264px;
    padding-bottom: 243px;
}

.item{
    border-radius: 10px;
    background: rgb(19, 32, 53);
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

.item__big{
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.heading{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFF;
}

.item__text{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFF;
}

@media (max-width: 1024px) {
    .center{
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .subtitle {
        font-size: 18px;
    }

    .title {
        font-size: 48px;
    }

    top{
        padding-bottom: 120px;
    }

    .top__logo{
        gap: 32px;
        max-width: 650px;
        margin: auto;
    }

    .content{
        grid-template-columns: repeat(1, 362px);
        gap: 32px;
    }

    .item__big{
        grid-column: span 1;
        grid-row: span 1;
        gap: 30px;
    }

    .item__big img{
        width: 98px;
    }
}
